<h1>Create New Taproom</h1>


<form action="/taprooms" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a New Taproom:</p>

  <label for="taproom_name">Taproom Name:</label><br>
  <input type='text' name='taproom_name'/><br/>

  <label for="taproom_address">Taproom Address:</label><br>
  <input type='text' name='taproom_address'/><br/>

  <label for="taproom_website">Taproom Website:</label><br>
  <input type='text' name='taproom_website'/><br/>

  <label for="taproom_phone">Taproom Phone Number:</label><br>
  <input type='text' name='taproom_phone'/><br/>

   <label for="established">Established:</label><br>
  <input type='text' name='established'/><br/>

   <label for="Number of Employees">Number of Employees:</label><br>
  <input type='text' name='number_of_employees'/><br/>

   <label for="Serving Capacity">Serving Capacity:</label><br>
  <input type='text' name='serving_capacity'/><br/>

   <input type="checkbox" id="offers_food" name="offers_food" value=true>
  <label for="offers_food"> Offers Food?</label><br>

  <input type='submit' value="Create Taproom"/>




</form>